#board {
  border: 1px solid black;
  width: 320px;
  height: 320px;
}
span {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.red {
  background-color: red;
}
